#image{
    max-width: 100%;    
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

#img-div{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

img {
    display: block
}